<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer doucmento en HTML</title>
       
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap" rel="stylesheet">
<link rel="normalize" href="/css/normalize.css">
<link rel="stylesheet" href="/css/Styles.css">
</head>
<body>
    <h4>Soy un h4</h4>
    <h1>El título de nuestro documento</h1>
    <h2 class= "parrafo-destacado">Un subtítulo cualquiera</h2>
    <img src="/img/leila.jpg" alt="Imagen de la princesa leia">
    <p>Lorem ipsum <strong> dolor sit amet consectetur adipisicing elit. Dolor</strong> quis ea accusantium enim architecto in corporis, nemo deleniti, facere porro vel exercitationem quae aperiam laboriosam distinctio at nihil doloremque ipsa!</p>
    <strong>otro texto en negro</strong>
    <p class= "parrafo-destacado">Lorem ipsum dolor sit<em> amet consectetur adipisicing elit.</em> Deleniti reprehenderit maxime nobis est eos earum porro amet similique? Obcaecati temporibus distinctio quos ad aspernatur nemo nesciunt voluptatibus modi sint ipsam.</p>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <a href="https://www.google.com">Ir a google</a>
    <article class="contenedor01">
        Este es un texto de ejemplo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente, inventore exercitationem ut numquam dolorum expedita praesentium illo accusamus consequuntur fuga eveniet dolore corporis temporibus? Odit asperiores porro rerum at?
    </article>
    <article class="contenedor02">
        Este es un texto de ejemplo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente, inventore exercitationem ut numquam dolorum expedita praesentium illo accusamus consequuntur fuga eveniet dolore corporis temporibus? Odit asperiores porro rerum at?
    </article>
    <article class="contenedor03">
        Este es un texto de ejemplo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente, inventore exercitationem ut numquam dolorum expedita praesentium illo accusamus consequuntur fuga eveniet dolore corporis temporibus? Odit asperiores porro rerum at?
    </article>

</body>
</html>